:root {
    --primary-color: #d7da6a;
        --secondary-color: #fcb25f;
        --accent-color: #ffe139;
        --text-color: #0d0b0b;
        --header-height: 80px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    background-color: #fbd2a3;
}


.header {
    background: var(--primary-color);
    height: var(--header-height);
    width: 100%;
    display: flex;
    align-items: center;
    color: var(--text-color);
    justify-content: space-between;
    padding: 0 20px;
}
.header h2 {
    background: linear-gradient(to left, yellow,rgb(203, 227, 85),orange,rgb(85, 214, 253),rgb(255, 150, 255),pink,rgb(255, 73, 73) );
    background-clip: text;
    display: inline;
    color: transparent;
    animation: animated 5s linear infinite;
}
@keyframes animated{
    to {background-position-x: 161px;}

}
.menu {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    height: var(--header-height);
}

.menu li {
    display: flex;
    align-items: center;
    padding: 0 60px;
    cursor: pointer;
    font-size: 15px;
    color: var(--text-color);
}

a {
    color: var(--text-color);
    text-decoration: none;
}

.menu li:hover {
    background: var(--accent-color);
    transition: 0.4s;
}

.item {
    position: relative;
}

.sub-item {
    display: none;
    position: absolute;
    top: 100%; /* Cambiado a 100% para que los elementos aparezcan debajo del elemento padre */
    left: 0; /* Ajustar según sea necesario */
    background-color: var(--secondary-color);
    color: var(--text-color);
    width: max-content;
    z-index: 1000;
    font-size: 18px;
    animation: fadeIn 0.5s ease forwards;
}
@keyframes fadeIn {
    from{
        opacity: 0;
        transform: translateY(-10px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

.item:hover .sub-item {
    display: block;
}

.sub-item li {
    border-bottom: 2px solid white;
    height: var(--header-height);
}

.container {
    width: 80%;
    margin: 50px auto;
    background-color: #fcfcfc;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 20px;
}

h3 {
    margin-top: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    font-weight: bold;
}

input[type="text"],
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

.footer {
    background-image: radial-gradient(circle at 90% 35.93%,  #e7c956 14.29%, #eebf4d 21.43%, #f4b345 28.57%, #f9a63f 35.71%, #fc973a 42.86%, #ff8738 50%, #ff7639 57.14%, #ff633d 64.29%, #ff5044 71.43%, #ff3b4d 78.57%, #ff1f58 85.71%, #ff0064 92.86%, #fd0072 100%);
    color: #ffffff;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.footer-section a {
    text-decoration: none;
    color: #333;
}
.footer-section a:hover{
    color: #120a08;
}
.footer-section.rights p{
    margin-top: 10px;   
}
.footer-copy p{
    margin: 10px;
}
.footer-copy p:hover {
    color: #ff5733;
}

.redes_sociales {
    text-align: center;
    margin-bottom: 20px;
}
.social-icon {
    display: inline-block;
    margin: 0 10px;
    transition: transform 0.3s ease-in-out;
}
.social-icon:hover {
    transform: scale(1.4);
}
.redes_sociales a {
    margin-right: 10px;
    display: inline-block;
}

.politica_privacidad {
    margin-bottom: 10px;
    text-align: center;
}

.derechos_reservados,
.copyright {
    text-align: center;
}

.redes_sociales img {
    width: 40px;
    height: 40px;
}