:root {
  --primary-color: #d7da6a;
  --secondary-color: #fcb25f;
  --accent-color: #ffe139;
  --text-color: #000000;
  --header-height: 80px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  background-image: radial-gradient(
    circle at 50% 35.93%,
    var(--primary-color) 0,
    var(--secondary-color) 100%
  );
  font-family: "Roboto Condensed", sans-serif;
  color: var(--text-color);
}

.header {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background: var(--primary-color);
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  color: var(--text-color);
  justify-content: space-between;
  padding: 20px 20px;
}
.header a {
  color: #000000;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}
.header h2 {
  font-size: xx-large;
  background: linear-gradient(
    to left,
    yellow,
    rgb(203, 227, 85),
    orange,
    rgb(85, 214, 253),
    rgb(255, 150, 255),
    pink,
    rgb(255, 73, 73)
  );
  background-clip: text;
  display: inline;
  color: transparent;
  animation: animated 5s linear infinite;
}

@keyframes animated {
  to {
    background-position-x: 161px;
  }
}
.header img {
  width: 165px;
  height: -90px;
}

.menu {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  height: var(--header-height);
}

.menu li {
  padding: 20px;
  font-size: 16px;
  color: var(--text-color);
  display: flex;
  align-items: center;
  padding: 0 50px;
  cursor: pointer;
  font-size: 15px;
  color: var(--text-color);
}

#carrito {
  position: relative;
}

.menu li:hover {
  background: var(--accent-color);
  transition: 0.4s;
}

.menu nav {
  width: 100px;
  padding: 22px;
  display: flex;
  margin-bottom: 30px;
  color: rgb(4, 4, 4);
  justify-content: flex-end;
}

.total-carrito {
  display: none;
}

i:hover .total-carrito {
  text-align: center;
  width: 100%;
  display: inline-block;
  margin-right: 10px;
  font-weight: bold;
  font-size: 20px;
  padding: 12px;

  border-top: 1px solid rgb(10, 10, 10);
}

.menu nav i {
  font-size: 2.5rem;
  cursor: pointer;
}

.nav-card {
  display: none;
}

.buy-card a {
  display: none;
  padding: 10px 20px;
  background-color: #fce296;
  text-decoration: none;
  font-weight: bold;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease,
    transform 0.3s ease;
}

i:hover .buy-card > a {
  display: inline-block;
  color: #000000;
  font-size: 13px;
  cursor: pointer;
}

.buy-card a:hover {
  background-color: #181716;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}

.buy-card button {
  display: none;
}

.buy-card li {
  padding: 5px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  color: rgb(8, 7, 7);
}

i:hover > .buy-card {
  width: 500px;
  height: 600px;
  position: absolute;
  right: 0;
  background-color: #ffffff;
  padding: 20px;
  z-index: 2;
}

i:hover .nav-card {
  font-size: 1.4rem;
  display: flex;
  justify-content: space-between;
  margin: 0 10px 0 10px;
  border-bottom: solid thin #e1e1e1;
}

i:hover .buy-card > button {
  display: inline-block;
  width: 100%;
  padding: 1rem;
  margin: 10px auto;
  border: 1px solid #e1e1e1;
  background-color: #a3a3a3;
  color: #3a1e6e;
  font-size: 13px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 30px;
  background-color: #f0f0f0;
  border-color: #bcbcbc;
}

i:hover .buy-card > button:hover {
  border: solid thin #494848;
  transition: all 0.4s;
}

.lista_de_productos div {
  display: none;
  text-align: center;
  padding: 10px 0 0 0;
  border-top: solid thin gray;
}

.container nav i:hover .buy-card > .lista_de_productos div {
  display: flex;
}

.lista_de_productos img {
  width: 100px;
}

.lista_de_productos p {
  transform: translateX(23px);
  width: 300px;
  font-size: 0.6rem;
  margin: 13px;
}

.lista_de_productos p:nth-child(4) {
  padding-left: 40px;
}

.lista_de_productos p:last-child span {
  font-size: 20px;
  padding: 2px 6px;
  color: rgb(5, 5, 5);
}
.lista_de_productos p:last-child span:hover {
  color: red;
}

.item {
  position: relative;
}

.sub-item {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--secondary-color);
  color: var(--text-color);
  width: max-content;
  padding-left: 1px;
  z-index: 1000;
  animation: fadeIn 0.5s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.item:hover .sub-item {
  display: block;
}

.sub-item li {
  height: var(--header-height);
  border-bottom: 2px solid rgb(255, 255, 255);
}

.vizualicer {
  width: 90%;
  max-width: 1200px;
  margin: 40px auto 0;
  overflow-x: auto;
  padding: 20px;
  background-color: var(--primary-color);
  border-radius: 20px;
}

.recomendados {
  display: flex;
}

.Productos_destacados {
  padding: 60px 50px;
  text-align: center;
}

.Productos_destacados h2 {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-weight: 700;
  line-height: 1.26;
  letter-spacing: 0px;
  font-style: normal;
  position: relative;
  font-size: 38px;
  margin: 0.5em 0;
  color: #2c2b2b;
  display: inline-block;
  position: relative;
}

.Productos_destacados h2::before,
.Productos_destacados h2::after {
  content: "";
  width: 320px;
  height: 1px;
  background-color: #a89a9a;
  position: absolute;
  top: 50%;
}

.Productos_destacados h2::before {
  left: -350px;
}

.Productos_destacados h2::after {
  right: -350px;
}

.Productos_destacados p {
  font-size: 1em;
  color: #1d1b1b;
  margin-top: 0.5em;
}

.contenedor {
  padding: 60px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 19px;
}

/* Estilos para dispositivos m칩viles */
@media (max-width: 767px) {
  i:hover > .buy-card {
    position: fixed;
  }
  .header {
    flex-direction: column;
    height: auto;
    padding: 0px;
  }

  .header img {
    width: 120px;
    height: auto;
  }

  .menu {
    flex-direction: column;
    height: auto;
    margin-top: 10px;
  }

  .menu li {
    padding: 10px 0;
  }

  .sub-item li {
    background-color: transparent;
    padding-left: 20px;
  }

  .contenedor {
    grid-template-columns: repeat(2, 1fr);
    padding: 20px;
  }

  .Productos_destacados h2::before,
  .Productos_destacados h2::after {
    width: 150px;
  }

  .Productos_destacados h2::before {
    left: -180px;
  }

  .Productos_destacados h2::after {
    right: -180px;
  }

  .contenedor-marca {
    width: 80vw;
  }

  .contenedor-marca .marca-track {
    animation: none;
  }

  .carousel-item img {
    height: 400px;
  }

  .fotos-overlay {
    display: none;
  }
}

/* Estilos para tabletas */
@media (min-width: 768px) and (max-width: 991px) {
  .contenedor {
    grid-template-columns: repeat(3, 1fr);
  }

  .Productos_destacados h2::before {
    left: -250px;
  }

  .Productos_destacados h2::after {
    right: -250px;
  }

  .contenedor-marca {
    width: 70vw;
  }

  .carousel-item img {
    height: 500px;
  }
}

/* Estilos para pantallas grandes */
@media (min-width: 992px) {
  .contenedor {
    grid-template-columns: repeat(4, 1fr);
  }

  .Productos_destacados h2::before {
    left: -350px;
  }

  .Productos_destacados h2::after {
    right: -350px;
  }

  .contenedor-marca {
    width: 50vw;
  }

  .carousel-item img {
    height: 650px;
  }

  .fotos-overlay {
    display: block;
  }
}
.producto_des {
  background-color: var(--secondary-color);
  color: var(--text-color);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  width: 100%;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 1px;
}

.producto_des:hover {
  transform: translateY(-20px);
}

.producto_des img {
  height: 30vh;
  width: 100%;
  display: inline-block;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.info {
  text-align: center;
}

.precio {
  margin-top: 15px;
}

.info {
  border-radius: 10px;
  padding: 20px;
}

.producto_des h3 {
  margin-bottom: 5px;
}

.producto_des p {
  margin-bottom: 10px;
}

.producto_des button {
  display: block;
  width: 100%;
  padding: 8px;
  margin-top: 10px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.producto_des button:hover {
  background-color: #0056b3;
}
.contenedor-marca {
  padding: 20px;
  width: 50vw;
  height: auto;
  margin: auto;
  overflow: hidden;
}

.contenedor-marca h2 {
  text-align: center;
  height: 20px;
  font-size: 18px;
}

.contenedor-marca .marca-track {
  display: flex;
  animation: scroll 50s linear infinite;
  width: calc(200px * 10);
  padding: 70px;
}

.contenedor-marca .marca {
  width: 200px;
}

.contenedor-marca .marca img {
  width: 100px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-200px * 10));
  }
}

.contenedor-marca:hover .marca-track {
  animation-play-state: paused;
}
.bg-body-tertiary {
  background-color: #f8f9fa;
}
.text-muted {
  color: #6c757d ;
}
.text-center {
  text-align: center ;

}
.text-lg-start {
  text-align: left ;
}
.p-4 {
  padding: 1.5rem;
}
.border-bottom {
  border-bottom: 1px solid #dee2e6 ;
}
.me-5 {
  margin-right: 3rem ;
}
.me-4 {
  margin-right: 1.5rem ;
}
.text-reset {
  color: inherit ;
}
.fw-bold {
  font-weight: 700 ;
}
.text-uppercase {
  text-transform: uppercase ;
}
.container {
  max-width: 1140px; 
  width: 90%; 
  margin: 0 auto;
  padding: 0 15px;
  
}
.d-flex {
  display: flex ;
}
.justify-content-center {
  justify-content: center ;
}
.justify-content-lg-between {
  justify-content: space-between ;
}
.d-none {
  display: none ;
}
.d-lg-block {
  display: block ;
}
.mt-5 {
  margin-top: 3rem ;
}
.mt-3 {
  margin-top: 1rem ;
}
.mb-4 {
  margin-bottom: 1.5rem ;
}
.mb-md-0 {
  margin-bottom: 0 ;
}
.text-uppercase {
  text-transform: uppercase;
}
footer {
  color: #1a1616;
}
footer h6 {
  color: #2c1b1b;
  margin-bottom: 20px;
  font-size: 16px;
}
footer p,
footer a {
  color: #242323;
  font-size: 14px;
  margin-bottom: 10px;
  text-decoration: none;
}
footer a:hover {
  color: #333;
  text-decoration: underline;
}
footer .fab {
  font-size: 18px;
}
footer .fab:hover {
  color: #007bff;
}
footer .container {
  display: flex;
  flex-wrap: wrap;
}
footer .container > div {
  flex: 1 1 200px;
  padding: 10px;
}
@media (max-width: 768px) {
  footer .d-lg-block {
    display: block ;
  }
  footer .text-lg-start {
    text-align: center ;
  }
  footer .me-5 {
    margin-right: 0 ;
    margin-bottom: 20px;
  }
  footer .d-flex {
    flex-direction: column;
  }
}
#carouselExampleAutoplaying {
  width: 100%; /* Ancho completo */
  margin-top: 2px; /* Espacio superior */
}
.carrusel {
  position: relative;
}

/* Estilo para las im치genes dentro del carrusel */
.carousel-item img {
  max-width: 100%;
  height: 650px; /* Altura autom치tica para mantener la proporci칩n */
  background-size: cover;
}

.fotos-overlay {
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  text-align: center;
  display: none;
}

.overlay-text {
  font-size: 48px;
  padding: 40px 20px;
  border-radius: 5px;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
}

.buy-button {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border: 2px solid #ffffff;
  color: white;
  border-radius: 25px;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin-top: 30px;
  cursor: pointer;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.buy-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
